[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = ">=1.1.1"
flask-restful = ">=0.3.8"
flasgger = ">=0.9.5"
prometheus_client = "*"
jsonschema = "*"
gunicorn = ">=20.0.4"
confluent_kafka = ">=1.4.0"
pandas = "*"
pytest = ">=5.3.1"
pytest-cov = ">=2.7.1"
flake8 = ">=3.7.8"
dnspython = "*"
pymongo = "*"

[requires]
python_version = "3.7"

jsonschema = "<=3.0.0"
avro-python3 = "==1.10.0"
cloudevents = "==1.2.0"
fastavro = "==1.0.0.post1"
